<div class="container">
    <div>
        <div *ngIf="showMessage" class="alert alert-success">
            <div>{{message}}</div>
          </div>
    </div>
    <div>
        <form [formGroup]="generateBillForm" class="stockinForm" (ngSubmit)="Save()">
            <div class="formGroup row">
                <label for="Name" class="form-label col-sm-12 col-md-2">Name:</label>
                <div class="col-sm-12  col-md-10">
                    <select  class="form-control form-select" formControlName="businessPersonId">
                        <option  value="">Select Business Person Name</option>
                        <option *ngFor="let ls of businessPesonList" value={{ls.id}}> {{ls.name}}</option>
                      </select>
                </div>
                <div class="error-message offset-md-2 col-sm-12 col-md-10"
                    *ngIf="form['businessPersonId'].errors && submitted && form['businessPersonId'].errors['required']">
                    Please select business person </div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-sm-12 col-md-2">Bill From Date:</label>
                <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
                <div class="col-sm-12  col-md-10"><input  type="text"
                placeholder="Datepicker"
                class="form-control" 
                readonly
                formControlName="billStartDate"
                bsDatepicker></div>
                <div class="error-message offset-md-2 col-sm-12 col-md-10"
                    *ngIf="form['billStartDate'].errors && submitted && form['billStartDate'].errors['required']">
                    Please select bill from date </div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-sm-12 col-md-2">Bill To Date:</label>
                <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
                <div class="col-sm-12  col-md-10"><input  type="text"
                placeholder="Datepicker"
                class="form-control" 
                readonly
                formControlName="billEndDate"
                bsDatepicker></div>
                <div class="error-message offset-md-2 col-sm-12 col-md-10"
                    *ngIf="form['billEndDate'].errors && submitted && form['billEndDate'].errors['required']">
                    Pleae select to date</div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-sm-12 col-md-2">Bill Amount:</label>
                <div class="col-sm-12  col-md-10"><input type="text" [pattern]="numberWithDecimal" class="form-control" id="Address" formControlName="amount" /></div>
                <div class="error-message offset-md-2 col-sm-12 col-md-10"
                *ngIf="form['amount'].errors && submitted && form['amount'].errors['required']">
                Please enter billing amount</div>
           </div>
           
            <div class="formGroup row">
                <label for="Address" class="form-label col-sm-12 col-md-2">Description:</label>
                <div class="col-sm-12  col-md-10"><input type="text" class="form-control" id="Address" formControlName="description" /></div>
            </div>
            <div class="formGroup row">
                <div class="col-sm-12 offset-md-2  col-md-10 d-grid gap-2"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
        </form>
    </div>
    <div  *ngIf="billList">
        <div style="border-top: 1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:800;padding:10px;font-size:22px;margin:40px 0 40px 0">
            List of Bill Generates
        </div>
        <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions"  class="row-border hover">
        </table>
      </div>
    </div>
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Cloth out</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form [formGroup]="generateBillEditForm" class="stockinForm" (ngSubmit)="Save()">
        <div class="formGroup row">
            <label for="Name" class="form-label col-sm-12 col-md-2">Name:</label>
            <div class="col-sm-12  col-md-10">
                <select  class="form-control form-select" formControlName="businessPersonId">
                    <option  value="">Select Business Person Name</option>
                    <option *ngFor="let ls of businessPesonList" value={{ls.id}}> {{ls.name}}</option>
                  </select>
            </div>
            <div class="error-message offset-md-2 col-sm-12 col-md-10"
                *ngIf="form['businessPersonId'].errors && submitted && form['businessPersonId'].errors['required']">
                Please select business person </div>
        </div>
        <div class="formGroup row">
            <label for="Address" class="form-label col-sm-12 col-md-2">Bill From Date:</label>
            <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
            <div class="col-sm-12  col-md-10"><input  type="text"
            placeholder="Datepicker"
            class="form-control" 
            readonly
            formControlName="billStartDate"
            bsDatepicker></div>
            <div class="error-message offset-md-2 col-sm-12 col-md-10"
                *ngIf="form['billStartDate'].errors && submitted && form['billStartDate'].errors['required']">
                Please select bill from date </div>
        </div>
        <div class="formGroup row">
            <label for="Address" class="form-label col-sm-12 col-md-2">Bill To Date:</label>
            <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
            <div class="col-sm-12  col-md-10"><input  type="text"
            placeholder="Datepicker"
            class="form-control" 
            readonly
            formControlName="billEndDate"
            bsDatepicker></div>
            <div class="error-message offset-md-2 col-sm-12 col-md-10"
                *ngIf="form['billEndDate'].errors && submitted && form['billEndDate'].errors['required']">
                Pleae select to date</div>
        </div>
        <div class="formGroup row">
            <label for="Address" class="form-label col-sm-12 col-md-2">Bill Amount:</label>
            <div class="col-sm-12  col-md-10"><input type="text" [pattern]="numberWithDecimal" class="form-control" id="Address" formControlName="amount" /></div>
            <div class="error-message offset-md-2 col-sm-12 col-md-10"
            *ngIf="form['amount'].errors && submitted && form['amount'].errors['required']">
            Please enter billing amount</div>
       </div>
       
        <div class="formGroup row">
            <label for="Address" class="form-label col-sm-12 col-md-2">Description:</label>
            <div class="col-sm-12  col-md-10"><input type="text" class="form-control" id="Address" formControlName="description" /></div>
        </div>
        <div class="formGroup row">
            <div class="col-sm-12 offset-md-2  col-md-10 d-grid gap-2"><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>
    </form>
  </ng-template>