<div class="title">Manage Cloth out</div>
<div class="container">
    <div>
        <div *ngIf="showMessage" class="alert alert-success">
            <div>{{message}}</div>
          </div>
    </div>
    <div>
        <div>
            <form [formGroup]="stockinForm" class="stockinForm" (ngSubmit)="Save()">
                <div class="formGroup row">
                    <label for="Name" class="form-label col-sm-12 col-md-2">Business Person Name:</label>
                    <div class="col-sm-12  col-md-10">
                        <select  class="form-control form-select" formControlName="businessPersonId">
                            <option  value="">Select Business Person Name</option>
                            <option *ngFor="let ls of bunisssPersonList" value={{ls.id}}> {{ls.name}}</option>
                          </select>
                    </div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['businessPersonId'].errors && submitted && form['businessPersonId'].errors['required']">
                        Please select business person </div>
                </div>
                <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">Shipping Date:</label>
                    <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
                    <div class="col-sm-12  col-md-10"><input  type="text"
                    placeholder="Datepicker"
                    class="form-control" 
                    readonly
                    formControlName="dateReceived"
                    bsDatepicker></div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['dateReceived'].errors && submitted && form['dateReceived'].errors['required']">
                        Pleae enter date received</div>
                </div>
                <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">Cloth Type:</label>
                    <div class="col-sm-12  col-md-10"> <input type="text" class="form-control" id="varityName" formControlName="varityType" /></div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['varityType'].errors && submitted && form['varityType'].errors['required']">Please enter the cloth type to manufacture</div>
                </div>
                <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">Number of Roles out:</label>
                    <div class="col-sm-12  col-md-10"> <input type="text" [pattern]="numberonly" class="form-control" id="Address" formControlName="boxes" /></div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['boxes'].errors && submitted && form['boxes'].errors['required']">Pleaes enter total
                        boxes received</div>
                        <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['boxes'].errors && submitted && form['boxes'].errors['pattern']">Pleae Enter number only</div>
                </div>
                <!-- <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">weight Per Role:</label>
                    <div class="col-sm-12  col-md-10"><input type="text" (keyup)="CalculateTotal()" [pattern]="numberWithDecimal" class="form-control" id="Address" formControlName="weightPerBox" /></div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['weightPerBox'].errors && submitted && form['weightPerBox'].errors['required']">
                        Please enter weight per box</div>
                        <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['weightPerBox'].errors && submitted && form['weightPerBox'].errors['pattern']">Pleae Enter number only</div>
                </div> -->
                <div class="formGroup row">
                     <label for="Address" class="form-label col-sm-12 col-md-2">Total weight:</label>
                     <div class="col-sm-12  col-md-10"><input type="text" [(ngModel)]="totalWeight" (keyup)="CalculateTotalRate()" [pattern]="numberWithDecimal" class="form-control" id="Address" formControlName="totalWeight" /></div>
                     <div class="error-message offset-md-2 col-sm-12 col-md-10"
                     *ngIf="form['totalWeight'].errors && submitted && form['totalWeight'].errors['required']">
                     Please enter total weight</div>
                </div>
                <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">Description:</label>
                    <div class="col-sm-12  col-md-10"><input type="text" class="form-control" id="Address" formControlName="description" /></div>
                </div>
                <!-- <div class="formGroup row">
                    <div class="col-sm-12 offset-md-2 col-md-10">
                    <div  style="border:1px solid #dddddd;padding:20px;">
                        <div class="title">Manage Payments</div>
                        <div class="formGroup row">
                            <label for="Address" class="form-label col-sm-12 col-md-2">Rate Per kg:</label>
                            <div class="col-sm-12  col-md-10"><input type="text" (keyup)="CalculateTotalRate()" class="form-control" id="Address"  formControlName="ratePerKg" /></div>
                            <div class="error-message offset-md-2 col-sm-12 col-md-10"
                            *ngIf="form['ratePerKg'].errors && submitted && form['ratePerKg'].errors['required']">
                            Please enter rate per kg</div>
                       </div>
                       <div class="formGroup row">
                        <label for="Address" class="form-label col-sm-12 col-md-2">Total Payment:</label>
                        <div class="col-sm-12  col-md-10"><input type="text" [(ngModel)]="totalRate" class="form-control" id="Address" formControlName="paymentAmount" /></div>
                        <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['paymentAmount'].errors && submitted && form['paymentAmount'].errors['required']">
                        Please enter total payment</div>
                   </div>
                   <div class="title">Please enter received paymetnt below</div>
                   <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>
                              Received Date
                              </th>
                              <th>
                               Amount Received
                              </th>
                        </tr>
                      </thead>
                     <tbody>
                        <tr *ngFor="let ls of paymentList">
                            <td>
                            <input  type="text" [ngModelOptions]="{standalone: true}"
                            placeholder="Datepicker"
                            class="form-control" 
                            readonly  [(ngModel)]="ls.dateReceived"
                            bsDatepicker>
                        </td>
                        <td> <input  type="text" [ngModelOptions]="{standalone: true}"[(ngModel)]="ls.amountReceived" class="form-control" ></td>
                        </tr>
                     </tbody>
                    </table>
                   </div>
                    </div>
                </div>
                </div> -->
                <div class="formGroup row">
                    <div class="col-sm-12 offset-md-2  col-md-10 d-grid gap-2"><button type="submit" class="btn btn-primary">Submit</button></div>
                </div>
            </form>
            
        </div>
       
        <div  *ngIf="records">
            <div style="border-top: 1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:800;padding:10px;font-size:22px;margin:40px 0 40px 0">
                List of Cloth out
            </div>
            <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions"  class="row-border hover">
            </table>
         </div>
          </div>
    </div>
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Cloth out</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    
        <form [formGroup]="stockinEditForm" (ngSubmit)="UpdateRecord()">
            <div class="modal-body">

            <div class="formGroup row">
                <label for="Name" class="form-label col-12">Business Person Name:</label>
                <div class="col-12">
                    <select  class="form-control form-select" formControlName="businessPersonId">
                        <option  value="">Select Business Person Name</option>
                        <option *ngFor="let ls of bunisssPersonList" value={{ls.id}}> {{ls.name}}</option>
                      </select>
                </div>
                <div class="error-message col-12"
                    *ngIf="editForm['businessPersonId'].errors && updated && editForm['businessPersonId'].errors['required']">
                    Please select business person </div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-12">Date of stock out:</label>
                <!-- <div class="col-sm-12  col-md-6"> <input type="text" class="form-control" id="Address" formControlName="receivedDate" /></div> -->
                <div class="col-12">
                    <input  type="text"
                placeholder="Datepicker"
                class="form-control" 
                readonly
                formControlName="dateReceived"
                bsDatepicker>
            </div>
                <div class="error-message col-12"
                    *ngIf="editForm['dateReceived'].errors && updated && editForm['dateReceived'].errors['required']">
                    Pleae enter date received</div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-12">Cloth Type:</label>
                <div class="col-12"> <input type="text" class="form-control" id="varityName" formControlName="varityType" /></div>
                <div class="error-message col-12"
                    *ngIf="editForm['varityType'].errors && updated && editForm['varityType'].errors['required']">Please enter the cloth type to manufacture</div>
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-12">Number of Roles out:</label>
                <div class="ccol-12"> <input type="text"  class="form-control" [pattern]="numberonly" id="Address" formControlName="boxes" /></div>
                <div class="error-message col-12"
                    *ngIf="editForm['boxes'].errors && updated && editForm['boxes'].errors['required']">Pleaes enter total
                    boxes received</div>
                    <div class="error-message col-12"
                    *ngIf="editForm['boxes'].errors && updated && editForm['boxes'].errors['pattern']">Pleae Enter number only</div>
            </div>
            <!-- <div class="formGroup row">
                <label for="Address" class="form-label col-12">weight Per Box:</label>
                <div class="col-12"><input type="text" [pattern]="numberWithDecimal"  class="form-control" id="Address" formControlName="weightPerBox" /></div>
                <div class="error-message col-12"
                    *ngIf="editForm['weightPerBox'].errors && updated && editForm['weightPerBox'].errors['required']">
                    Please enter weight per box</div>
                    <div class="error-message col-12"
                    *ngIf="editForm['weightPerBox'].errors && updated && editForm['weightPerBox'].errors['pattern']">Pleae Enter number only</div>
            </div> -->
            <div class="formGroup row">
                 <label for="Address" class="form-label col-12">Total weight:</label>
                 <div class="col-12"><input type="text"  [pattern]="numberWithDecimal" class="form-control" id="Address" formControlName="totalWeight" /></div>
                 <div class="error-message col-12"
                    *ngIf="editForm['totalWeight'].errors && updated && editForm['totalWeight'].errors['required']">
                    Please enter total weight</div>
                    <div class="error-message col-12"
                        *ngIf="editForm['totalWeight'].errors && updated && editForm['totalWeight'].errors['pattern']">Pleae Enter number only</div>
                      
            </div>
            <div class="formGroup row">
                <label for="Address" class="form-label col-12">Description:</label>
                <div class="col-12"><input type="text" class="form-control" id="Address" formControlName="description" /></div>
            </div>
            <!-- <div class="formGroup row">
                <div class="col-sm-12">
                <div  style="border:1px solid #dddddd;padding:20px;">
                    <div class="title">Manage Payments</div>
                    <div class="formGroup row">
                        <label for="Address" class="form-label col-sm-12 col-md-2">Rate Per kg:</label>
                        <div class="col-sm-12  col-md-10"><input type="text"  class="form-control" id="Address" formControlName="ratePerKg" /></div>
                        <div class="error-message offset-md-2 col-sm-12 col-md-10"
                        *ngIf="form['ratePerKg'].errors && submitted && form['ratePerKg'].errors['required']">
                        Please enter rate per kg</div>
                   </div>
                   <div class="formGroup row">
                    <label for="Address" class="form-label col-sm-12 col-md-2">Total Payment:</label>
                    <div class="col-sm-12  col-md-10"><input type="text"  class="form-control" id="Address" formControlName="paymentAmount" /></div>
                    <div class="error-message offset-md-2 col-sm-12 col-md-10"
                    *ngIf="form['paymentAmount'].errors && submitted && form['paymentAmount'].errors['required']">
                    Please enter total payment</div>
               </div>
               <div class="title">Please enter received paymetnt below</div>
               <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>
                          Received Date
                          </th>
                          <th>
                           Amount Received
                          </th>
                    </tr>
                  </thead> 
                 <tbody>
                    <tr *ngFor="let ls of paymentEditList">
                        <td>
                        <input  type="text" [ngModelOptions]="{standalone: true}"
                        placeholder="Datepicker"
                        class="form-control" 
                        readonly  [(ngModel)]="ls.dateReceived"
                        bsDatepicker>
                    </td>
                    <td> <input  type="text" [ngModelOptions]="{standalone: true}"[(ngModel)]="ls.amountReceived" class="form-control" ></td>
                    </tr>
                 </tbody>
                </table>
                <div>
                    <input value="Add New Empty Record" (click)="AddNewEmptyPaymentRecord()" class="btn btn-primary" type="button">
                </div>
               </div>
                </div>
            </div>
            </div> -->
        </div>
            <div class="modal-footer">
                <div class="formGroup row">
                    <div class="col-12 d-grid gap-2"><button type="submit" class="btn btn-primary">Submit</button></div>
                </div>
              <!-- <button type="button" class="btn btn-danger" (click)="modal.dismiss('Save click')">Close</button> -->
            </div>
        </form>
  
    
  </ng-template>
  
