/* You can add global styles to this file, and also import other style files */
.formGroup {
    margin-top:16px !important;
  }
  .error-message {
    color:red;
  }
  .title{
    margin: 10px 25px;
    border-bottom:1px solid #ddd;
    font-weight:bold;
  }